:root {
    --white:#FFFFFF;
    --purple: #9F35CC;
    --background: #242424;
    --pink: #CD3066;
}

* {
    background-color: var(--background);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.first-page .icon {
    padding: 20px;
}

.first-page .icon img {
   margin: 50px 50px 0px 50px;
}


.first-page .icon h1 {
    font-size: 32px;
    color: var(--purple);
    font-weight: bolder;
}

.first-page .icon h3 {
	font-size: 16px;
	color: var(--white);
	font-weight: 400;
	width: 50%;
	margin: 0px 20px 0px 20px;
}

.first-page .login-button{
padding: 0px;
}

.first-page .login-button button {
	font-size: 20px;
	font-weight: bold;
	color: var(--white);
	background-color: var(--pink);
	padding: 5px;
	margin: 0px 10px 10px 20px;
	width: 300px;
	/* border: 1px solid #9F35CC; */
	border: none;
	border-radius: 16px;
}

.first-page .social-media-buttons {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	margin-top: 15px;
}




